node_modules/
out/

datasets/*

!datasets/.gitkeep
!datasets/edk2-DecSpecification
!datasets/edk2-DscSpecification
!datasets/edk2-FdfSpecification
!datasets/edk2-IdfSpecification
!datasets/edk2-InfSpecification
!datasets/edk2-UniSpecification
!datasets/edk2-VfrSpecification
!datasets/test/*
